<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Neighbors</title>
</head>
<body>
    <p>Budget Title: {{ budget.title }}</p>
    <p>Budget Neighborhood: {{ budget.neighborhood }}</p>
    <p>Budget Total Funds: {{ budget.total_funds }}</p>
    <p>Budget Total Expenses: {{ budget.total_expenses }}</p>
    <p>Budget Residence Fee: {{ budget.residence_fee }}</p>
    <p>Budget Creation Date: {{ budget.created_date }}</p>

    <h3>Expenses</h3>
    <p>
        {% for expense in expense_list %}
            <p>Expense:
                id={{ expense.id }}
                title={{ expense.title }}
                cost={{ expense.cost }}</p>
        {% endfor %}
    </p>

    <a href="{% url 'budget:new_expense' %}"><input type="button" value="New Expense"></a><br />


    <a href="{% url 'neighborhood:neighborhood_home' %}">Return to Neighborhood.</a><br />

</body>
</html>