<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta name="author" content="Tucker Stone">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Neighbors - Sign in</title>

    <!-- CSS -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'accounts/css/login.css' %}">
</head>
<body>

<div class="demo-info">
    <p>What's Neighbors?</p>
    <form action="{% url 'accounts:demo_login' %}" method="POST">
        <button>Take a tour</button>
    </form>
</div>

<div class="login-page">
    <h1>Nei<span style="color:#0a68f5">g</span>hbors</h1>
    <div class="form">
        <form class="login-form" action="{% url 'accounts:user_login' %}" method="post">
            {% csrf_token %}
            <input type="text" name="username_text" placeholder="username"/>
            <input type="password" name="password_text" placeholder="password"/>
            <button>login</button>
            <p class="message">Not registered? <a id="create-acct-btn" href="#">Create an account</a></p>
        </form>
    </div>
</div>
<script>$('#create-acct-btn').click(function(){alert("Account creations is currently disabled")});</script>
</body>
</html>