<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'neighborhood/index.css' %}" />
    <meta charset="UTF-8">
    <title>Neighbors</title>
</head>
<body>

    <div class="jumbotron">
        <div class="container">
            <h1>Neighbors</h1>
            <p>Bringing communities together.</p>
            <form action="{% url 'accounts:user_login' %}" method="post">
            {% csrf_token %}
                <label for="username">Username</label><input type="text" id="username" name="username_text"/>
                <label for="password">Password</label><input type="password" id="password" name="password_text"/>

                <input type="submit" id="submit" name="submit" value="Sign in" /><br />
                <a href="{% url 'accounts:register_user'  %}"><input type="button" name="register" value="Register"></a>
                <a href="#">Forgot Password?</a>
            </form>
        </div> <!--end container-->
    </div><!--end jumbotron-->

</body>
</html>

