<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Neighbors - Account</title>
</head>
<body>
    <h1>{{ house.family_name }} Account</h1>

    <p>User: {{ house.user }}</p>
    <p>Neighborhood: {{ house.user.username }}</p>
    <p>Family Name: {{ house.family_name }}</p>
    <p>Join Date: {{ house.join_date }}</p>
    <p>Address: {{ house.address }}</p>




    <a href="{% url 'neighborhood:neighborhood_home' %}" id="home_button"><input type="button" value="Neighborhood"></a>
</body>
</html>