<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Neighbors</title>
</head>
<body>
    <h1>Neighbors</h1>
    <h3>Bringing communities together</h3>

    <p>Neighbors is a web application designed to bring transparency to the HOA
    blanket that currently wraps the majority of American Suburbia. Do you ever
    wish you and your neighbors could fix that fucking sewer pipe leaking into
    everyone's backyard? Ya, we do too.</p>

<p><a href="{% url 'neighborhood:neighborhood_home' %}">Return to Neighborhood</a></p>
</body>
</html>