<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8/>
    {% load staticfiles %}
    <title>Neighbors</title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no'/>
    <script src='https://api.mapbox.com/mapbox.js/v2.3.0/mapbox.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.4/d3.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="{% static 'budget/chart.js' %}"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          crossorigin="anonymous">
    <link href='https://api.mapbox.com/mapbox.js/v2.3.0/mapbox.css' rel='stylesheet'/>
    {# <link href='https://www.mapbox.com/base/latest/base.css' rel='stylesheet' /> #}
    <link rel="stylesheet" type="text/css" href="{% static 'neighborhood/css/style.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'neighborhood/css/map_home.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'neighborhood/css/status.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'neighborhood/css/report.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'neighborhood/css/feed.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/css/profile.css' %}"/>
    <script type="text/javascript" src="{% static 'neighborhood/js/get_icon.js' %}"></script>
    <script type="text/javascript" src="{% static 'neighborhood/js/polls.js' %}"></script>
    <script type="text/javascript" src="{% static 'neighborhood/js/style.js' %}"></script>
</head>
<body>

<div class="nav">
    <a id="list-menu-button" class='' href="#">
        <span id="menu-icon" class='glyphicon glyphicon-list'></span>
    </a>
    <h1 class="white-text">Neighbors</h1>
    <div class="options">
{#        <a id="map-button" class="btn btn-info"><strong>map</strong></a>#}
{#        <a id="status-button" class="btn btn-info"><strong>status</strong></a>#}
    </div>
    <div class="icons">
        <a id="account-button" class='btn btn-default btn-circle btn-lg' href="#">
            <span class='glyphicon glyphicon-user'></span>
        </a>
        <a id="list-button" class='btn btn-default btn-circle btn-lg' href="{% url 'neighborhood:index' %}">
            <span class='glyphicon glyphicon-list'></span>
        </a>
        <a id="report" class='btn btn-default btn-circle btn-lg'>
            <span class='glyphicon glyphicon-alert'></span>
        </a>
    </div>
</div>

<div id="report-container">
    <a id="cancel" class="btn btn-circle"><span class="glyphicon glyphicon-remove"></span></a>
    <div class='report'>
        <form action="{% url 'neighborhood:home' %}" method="POST">
            {% csrf_token %}
            {{ report_form.as_p }}
            {#            <button id="close-report" class="btn btn-default">Close</button>#}
            <button id="submit-report" class="btn btn-default">Submit</button>
        </form>
    </div>
</div>

<div id="content" class="content">


    {#-----------------------MAP MAIN WINDOW---------------------------#}
    <div id="map-container">
        <div id='map' class='streets'></div>
    </div>


    {#-------------------- MAIN NAV SLIDE OUT WINDOW ----------------------------#}
    <div id="list-menu">
        <button id="home-select" class="menu-option">Home</button>
        <button id="event-select" class="menu-option">Events</button>
        <button id="poll-select" class="menu-option">Decisions</button>
        <button class="menu-option">Announcements</button>
        <button class="menu-option">Budget</button>
        <button>Calendar</button>

        <span class="divider"></span>

        <button class="menu-option">Regulations</button>
        <button>Management Board</button>

        {#        <small class="menu-section-title"></small>#}
        <span class="divider"></span>

        <button class="menu-option">Neighbors</button>
        <button id="account-button" class="menu-option">Profile</button>
        <button>Logout</button>
    </div>


    <div id="status">
        <div class="section">
            <div id="calendar" class="">

            </div>
        </div>
        <div class="section">

            <div id="budget" class="">
                <div class="chart-menu">
                    <button id="expense-chart" class="btn btn-default">Expenses</button>
                    <button id="history-chart" class="btn btn-default">Performance History</button>
                </div>
                <div id="piechart"></div>
                <div id="linechart"></div>
                <!--
                    <div class="row">
                        {% if budget %}
                            <p>Budget instance accessible.</p>
                        {% else %}
                            <p>Unable to access budget.</p>

                        {% endif %}
                        <h1>Budget</h1>
                        <p>Neighborhood: {{ budget.neighborhood }}</p>
                        <p>Total Funds: {{ budget.total_funds }}</p>
                        <p>Total Expenses: {{ budget.total_expenses }}</p>
                        <p>Residence Fee: {{ budget.residence_fee }}</p>
                        <p>Creation Date: {{ budget.create_date }}</p>
                    </div>
                    <div class="row">
                        <h3>Expenses</h3>
                        {% if expense_list %}
                            {% for expense in expense_list %}
                                <p><a href="{% url 'budget:expense_detail' expense.id %}">{{ expense.title }}</a>
                                    cost={{ expense.cost }} : approved={{ expense.approved }}</p>
                            {% endfor %}
                        {% endif %}
                        <a class="btn btn-default" href="{% url 'budget:new_expense' %}">New Expense</a><br/>
                    </div>-->
            </div>

        </div>

    </div>


    <script>
        var post_ids = [];

        function newPostId(id) {
            post_ids.push(id);
            return id;
        }

    </script>


    {#-----------------------FEED SIDE BAR (WITH MAP) ---------------------------#}
    <div id="feed">
        <p id="feed-title" class="orange-text">Neighborly News Now.</p>
        <span class="blue"></span>
        {% for post in feedposts %}
            <div id="feed-post{{ post.id }}" class="feed-item">
                <script>newPostId("#feed-post{{ post.id }}");</script>
                <small id="time-stamp">{{ post.create_date }}</small>
                {#                <h2>{{ post.title }}</h2>#}
                <div class="feed-item-body">
                    {% if post.type == 'MARKER' %}
                        <script>
                            changeElemBorderColor("#feed-post{{ post.id }}", 'GREEN');
                            var src = getIconType("{{ post.marker.type_of_marker }}", true);
                            var icon_img = $("<img>", {class: 'feed-post-icon', src: src});
                            $("#feed-post{{ post.id }} .feed-item-body").append(icon_img);
                            $('#feed-post{{ post.id }}').on('click', function () {
                                centerMarker([{{ post.marker.lat }}, {{ post.marker.lon }}]);
                                // open popup descriptor
                                openPop({{ post.marker.id }});
                            });
                        </script>
                        <p><strong>{{ post.user }}</strong> placed <strong>{{ post.marker.type_of_marker }}
                        </strong> marker! <br/></p>

                    {% elif post.type == 'ANNOUNCEMENT' %}
                        <script>changeElemBorderColor("#feed-post{{ post.id }}", 'BLUE')</script>
                        <h1 id="announcement-header">{{ post.title }}</h1>
                        <p id="description">{{ post.description }}</p>
                        <small><strong>{{ post.user }}</strong></small>

                    {% elif post.type == 'POLL' %}
                        <script>changeElemBorderColor("#feed-post{{ post.id }}", 'RED')</script>
                        <a href="{% url 'polls:detail' post.poll.id %}"><p id="poll-header">{{ post.title }}</p></a>
                        <p id="description">{{ post.description }}</p>
                        {% if post.poll.is_yes_no %}
                            <button id="" class="vote-yes">Yes</button>
                            <button id="" class="vote-no">No</button>
                        {% else %}
                            <form action="{% url 'polls:vote' post.poll.id %}" method="post">
                                {% csrf_token %}
                                {% for choice in post.poll.choice_set.all %}
                                    <input type="radio" name="choice" id="choice{{ forloop.counter }}"
                                           value="{{ choice.id }}"/>
                                    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br/>
                                {% endfor %}
                                <input id='poll-vote' type="submit" value="Submit"/>
                            </form>
                        {% endif %}
                    {% endif %}
                </div>

            </div>
        {% endfor %}
    </div>

    {#-----------------------POLLS MAIN WINDOW ---------------------------#}
    <div id="poll-detail">
        <div class="poll-detail">
            {#            <h1>{{ selected_question.question_text }}</h1>#}
            {#            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{%  endif %}#}
            {#            <form action="{% url 'polls:vote' selected_question.id %}" method="post">#}
            {#                {% csrf_token %}#}
            {#                {% for choice in selected_question.choice_set.all %}#}
            {#                    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}"/>#}
            {#                    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />#}
            {#                {% endfor %}#}
            {#                <input id='vote' type="submit" value="vote" />#}
            {#            </form>#}
        </div>

    </div>


    {#----------------------- POLLS MENU SIDE BAR ---------------------------#}
    <div id="poll-menu">
        {% if polls %}
            {% for poll in polls %}
                <div class="poll-menu-item-container">
                    <script>newPollId({{ poll.id }})</script>
                    <button id="poll{{ poll.id }}">
                        <div class="poll-menu-item">
                            <h1>{{ poll.question_text }}</h1>
                            <small>{{ poll.pub_date }}</small>
                        </div>
                    </button>
                </div>

            {% endfor %}
        {% else %}
            <p>No polls are available.</p>
        {% endif %}
    </div>


    {#-----------------------ACCOUNT MAIN WINDOW---------------------------#}
    <div id="account">
        <div class="container">
            <div id="profile-pic">
                <p>Profile picture</p>
            </div>
            {#            {% if board_permissions == True %}#}
            {#            <button id="announcement">Make Announcement</button>#}
            <button id="announcement" type="button" class="btn btn-info btn-lg"
                    data-toggle="modal" data-target="#myModal">
                Make Announcement
            </button>
            {#            {% endif %}#}
            <h1 class="orange-text">{{ user.family_name }} Account</h1>
            <p>User: {{ user.user }}</p>
            <p>Neighborhood: {{ user.user.username }}</p>
            <p>Family Name: {{ user.family_name }}</p>
            <p>Join Date: {{ user.join_date }}</p>
            <p>Address: {{ user.address }}</p>
            <a href="{% url 'neighborhood:home' %}">Return</a>

            <div id="account-menu">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#profile">Profile</a></li>
                    <li><a href="#activity">Activity</a></li>
                    <li><a href="#neighbors">Neighbors</a></li>
                    <li><a href="#settings">Settings</a></li>
                </ul>

                <div class="tab-content">
                    <div id="profile" class="tab-pane fade in active">

                    </div>
                    <div id="activity" class="tab-pane fade">

                    </div>
                    <div id="neighbors" class="tab-pane fade">

                    </div>
                    <div id="settings" class="tab-pane fade">

                    </div>
                </div> <!-- end tab-content -->
            </div>

            <div class="container">
                <!-- Modal -->
                <div class="modal fade" id="myModal" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <form method="post" action="{% url 'feed:announce' %}">
                                {% csrf_token %}
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">New Announcement</h4>
                                </div>
                                <div class="modal-body">
                                    {{ announcement_form.as_p }}
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


    {#-----------------------ACCOUNT SIDE BAR---------------------------#}
    <div id="account-options">
        <div id="map-account-container">
            <div id='map2'></div>
        </div>
        <div class="holder">
            <a class="btn btn-primary" href="#">Edit Profile</a><br/>
            <a class="btn btn-primary" href="#">Make Announcement</a><br/>
            <a class="btn btn-primary" href="#">Report Incident</a><br/>
            <a class="btn btn-primary" href="#">Neighbors List</a><br/>
        </div>
    </div>

    {#----------------------- EVENT DETAIL SIDE BAR --------------------------------#}
    <div id="event-detail">
        <div id="event-box">
            <div id="event-map-container">
                <div id='map3'></div>
            </div>
            <h1 id="event-title">Event Title</h1>
            <small id="time" class="time"></small>
            <small id="location" class="time">Location: </small>
            <p id="description"></p>
            <div id="event-list-day">

            </div>
        </div>
    </div>

    {#----------------------- EVENT CALENDAR MAIN WINDOW ---------------------------#}
    <div id="event-calendar">
        <div id="calendar-head">
{#            <button id="calendar-month-prev" class="btn btn-default">#}
{#                <span id="left-arrow" class="glyphicon glyphicon-chevron-left"></span>#}
{#            </button>#}
{#            <button id="calendar-month-next" class="btn btn-default">#}
{#                <span id="right-arrow" class="glyphicon glyphicon-chevron-right"></span>#}
{#            </button>#}
        </div>
        <div id="calendar-body"></div>
        {#        {% for i in 'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx' %}#}
        {#            <div id="day{{ forloop.counter }}" class="day">#}
        {#                <p>{{ forloop.counter }}</p>#}
        {#            </div>#}
        {#        {% endfor %}#}
    </div>


</div>
<script>
</script>

<script type="text/javascript" src="{% static 'neighborhood/js/mapscript.js' %}"></script>
<script type="text/javascript" src="{% static 'neighborhood/js/report.js' %}"></script>
<script type="text/javascript" src="{% static 'neighborhood/js/page_swap.js' %}"></script>
{#<script>centerUserMap([{{ user.house.lat }},{{ user.house.lon }}])</script>#}
<script>centerUserMap([34.220912, -119.055079])</script>
<script type="text/javascript" src="{% static 'neighborhood/js/events.js' %}"></script>
</body>
</html>