<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8/>
    {% load staticfiles %}
    <title>Neighbors</title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no'/>
    <script src='https://api.mapbox.com/mapbox.js/v2.3.0/mapbox.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.4/d3.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          crossorigin="anonymous">
    <link href='https://api.mapbox.com/mapbox.js/v2.3.0/mapbox.css' rel='stylesheet'/>
    {# <link href='https://www.mapbox.com/base/latest/base.css' rel='stylesheet' /> #}
    <link rel="stylesheet" type="text/css" href="{% static 'neighborhood/css/style.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'neighborhood/css/map_home.css' %}"/>

    <script type="text/javascript">
    </script>

</head>
<body>

<div class="nav">
    <h1 class="white-text">Neighbors</h1>
    <div class="options">
        <a class="btn btn-info" href="{% url 'neighborhood:home' %}"><strong>map</strong></a>
        <a class="btn btn-info" href="{% url 'neighborhood:status' %}"><strong>status</strong></a>
    </div>
    <div class="icons">
        <a id="account" class='btn btn-default btn-circle btn-lg' href="{% url 'accounts:user_profile' %}">
            <span class='glyphicon glyphicon-user'></span>
        </a>
        <a id="messages" class='btn btn-default btn-circle btn-lg' href="{% url 'accounts:user_profile' %}">
            <span class='glyphicon glyphicon-envelope'></span>
        </a>
        <a id="list" class='btn btn-default btn-circle btn-lg' href="{% url 'neighborhood:details' %}">
            <span class='glyphicon glyphicon-list'></span>
        </a>
        <a id="report" class='btn btn-default btn-circle btn-lg'>
            <span class='glyphicon glyphicon-alert'></span>
        </a>
    </div>
</div>

<div id="report-container">
    <a id="cancel" class="btn btn-circle"><span class="glyphicon glyphicon-remove"></span></a>
    <div class='report'>
        <form action="{% url 'neighborhood:home' %}" method="POST">
            {% csrf_token %}
            {{ report_form.as_p }}
            {#            <button id="close-report" class="btn btn-default">Close</button>#}
            <button id="submit-report" class="btn btn-default">Submit</button>
        </form>
    </div>
</div>

<div id="content" class="content">

    <div id='legend' style='display:none;'>
        <h2 class="orange-text"><strong>WHATS HOT IN THE HOOD.</strong></h2>
        <div id="leg_div" class='legend clearfix'>
            <span class="white"></span>
            <span class="green"></span>
            <span class="gray"></span>
            <span class="light-blue"></span>
            <span class="blue"></span>
            <small>Source: <a href="#link to source">Name of source</a></small>
        </div>
    </div>
    <div id='map' class='streets'></div>
    <script src="{% static 'neighborhood/js/mapscript.js' %}"></script>
    <div class="feed">
        <h1 id="feed-title" class="orange-text">Neighborly News Now.</h1>
        <span class="blue"></span>
        {% for post in feedposts %}
            <div id="feed-post{{ post.id }}" class="feed-item">
                <small id="time-stamp">{{ post.create_date }}</small>
{#                <h2>{{ post.title }}</h2>#}
                <div class="feed-item-body">
                    {% if post.type == 'MARKER' %}
                        <script>
                            var src = getIconType("{{ post.marker.type_of_marker }}", true);
                            var icon_img = $("<img>", {class: 'feed-post-icon', src: src});
                            $("#feed-post{{ post.id }} .feed-item-body").append(icon_img);
                            $('#feed-post{{ post.id }}').on('click', function() {
                                centerMarker([{{ post.marker.lat }}, {{ post.marker.lon }}]);
                                // open popup descriptor

                            });
                        </script>
                        <p><strong>{{ post.user }}</strong> placed <strong>{{ post.marker.type_of_marker }}
                        </strong> marker! <br/></p>

                    {% elif post.type == 'ANNOUNCEMENT' %}
                        <h1 id="announcement-header">{{ post.title }}</h1>
                        <p id="description">{{ post.description }}</p>
                        <small><strong>{{ post.user }}</strong></small>

                    {% elif post.type == 'POLL' %}
                        <a href="{% url 'polls:detail' post.poll.id %}"><p id="poll-header">{{ post.title }}</p></a>
                        <p id="description">{{ post.description }}</p>
                        {% if post.poll.is_yes_no %}
                            <button id="" class="vote-yes">Yes</button>
                            <button id="" class="vote-no">No</button>
                        {% else %}
                            <form action="{% url 'polls:vote' post.poll.id %}" method="post">
                                {% csrf_token %}
                                {% for choice in post.poll.choice_set.all %}
                                    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}"/>
                                    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
                                {% endfor %}
                                <input id='poll-vote' type="submit" value="Submit" />
                            </form>
                        {% endif %}
                    {% endif %}
                </div>

            </div>
        {% endfor %}
    </div>

</div>
<script>
</script>

<script src="{% static 'neighborhood/js/report.js' %}"></script>
<!--
<div class="footer">
    <div class="row">
        <div class="col-md-4">
            <h3>About</h3>
            <p>Info/links regarding Neighbors information.</p>
        </div>
        <div class="col-md-4">
            <h3>Contact</h3>
            <p>Info/links for contacting Neighbors peeps</p>
        </div>
        <div class="col-md-4">
            <h3>Help</h3>
            <p>Help and FAQ shit.</p>
        </div>
    </div>
</div>  end footer-->

</body>
</html>