<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'neighborhood/home.css' %}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Neighbors</title>
</head>
<body>

    <div class="nav">
        <div class="container">
            <ul class="nav nav-pills">
                <li class="active"><a href="{% url 'neighborhood:neighborhood_info' %}">Neighborhood Information</a>
                <li><a href="{% url 'budget:manage' %}">Manage Neighborhood Budget</a></li>
                <li><a href="{% url 'accounts:user_profile' %}">Manage Account</a></li>
                <li><a href="#">Discussion Board</a></li>
                <li><a href="#">Polls</a></li>
            </ul>
        </div>
    </div>


    <div class="jumbotron">
        <div class="container">
            <h1>Welcome to the Neighborhood!</h1>
            <p>{{ neighborhood.division_title }} Division</p>
        </div>
    </div>

                <a id="logout" href="{% url 'accounts:user_logout' %}">Log out</a>


</body>
</html>