<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'neighborhood/css/map_home.css' %}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.4/d3.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <title>Neighbors</title>
</head>
<body class="blue">

<div class="nav">
    <h1 class="white-text">Neighbors</h1>
    <div class="options">
        <a class="btn btn-info" href="{% url 'neighborhood:home' %}"><strong>map</strong></a>
        <a class="btn btn-info" href="{% url 'neighborhood:status' %}"><strong>status</strong></a>
    </div>
    <div class="icons">
        <a id="account" class='btn btn-default btn-circle btn-lg' href="{% url 'accounts:user_profile' %}">
            <span class='glyphicon glyphicon-user'></span>
        </a>
        <a id="messages" class='btn btn-default btn-circle btn-lg' href="{% url 'accounts:user_profile' %}">
            <span class='glyphicon glyphicon-envelope'></span>
        </a>
        <a id="list" class='btn btn-default btn-circle btn-lg' href="{% url 'accounts:user_profile' %}">
            <span class='glyphicon glyphicon-list'></span>
        </a>
        <a id="report" class='btn btn-default btn-circle btn-lg'>
            <span class='glyphicon glyphicon-alert'></span>
        </a>
    </div>
</div>

<div id="report-container">
    <div class='input-pill col12'>
        <input class="col8" type="text" placeholder="filename">
        <input class="button col4" type="submit" value="Submit">
    </div>
    <button id="close-report" class="btn btn-default">Close</button>
    <button id="submit-report" class="btn btn-default">Submit</button>
</div>

<div id="content" class="content">
    <div class="holder">
        <div class="row">

            <div class="section">
                <div id="calendar" class="">
                    <iframe id="calendar-frame"
                            src="https://calendar.google.com/calendar/embed?src=9fk7an49aqsp2r825scmp9tj50%40group.calendar.google.com&ctz=America/Los_Angeles"
                            style="border:0 solid" frameborder="0" scrolling="no"></iframe>
                </div>
            </div>
            <div class="section">

                <div id="budget" class="">
                    <div class="chart-menu">
                        <button id="expense-chart" class="btn btn-default">Expenses</button>
                        <button id="history-chart" class="btn btn-default">Performance History</button>
                    </div>
                    <div id="piechart"></div>
                    <div id="linechart"></div>
            <!--
                    <div class="row">
                        {% if budget %}
                            <p>Budget instance accessible.</p>
                        {% else %}
                            <p>Unable to access budget.</p>

                        {% endif %}
                        <h1>Budget</h1>
                        <p>Neighborhood: {{ budget.neighborhood }}</p>
                        <p>Total Funds: {{ budget.total_funds }}</p>
                        <p>Total Expenses: {{ budget.total_expenses }}</p>
                        <p>Residence Fee: {{ budget.residence_fee }}</p>
                        <p>Creation Date: {{ budget.create_date }}</p>
                    </div>
                    <div class="row">
                        <h3>Expenses</h3>
                        {% if expense_list %}
                            {% for expense in expense_list %}
                                <p><a href="{% url 'budget:expense_detail' expense.id %}">{{ expense.title }}</a>
                                    cost={{ expense.cost }} : approved={{ expense.approved }}</p>
                            {% endfor %}
                        {% endif %}
                        <a class="btn btn-default" href="{% url 'budget:new_expense' %}">New Expense</a><br/>
                    </div>-->
                </div>

            </div>
        </div>
{#        <div class="row">#}
{#            <div class="section">#}
{#                <div id="polls" class="col-md-6">#}
{#                    <h1>Polls</h1>#}
{#                    {% if latest_question_list %}#}
{#                        <ul>#}
{#                            {% for question in latest_question_list %}#}
{#                                <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>#}
{#                            {% endfor %}#}
{#                        </ul>#}
{#                    {% else %}#}
{#                        <p>No polls are available.</p>#}
{#                    {% endif %}#}
{#                    <a class="btn btn-default" href="{% url 'polls:new' %}">New Poll</a><br/>#}
{#                </div>#}
{#            </div>#}
{#            <div class="section">#}
{#                <div id="discussions" class="col-md-6">#}
{#                    <h1>Discussions</h1>#}
{#                    {% for discussion in discussions %}#}
{#                        <a href="{% url 'discussions:detail' discussion.id %}">#}
{#                            <h3>{{ discussion.title }}</h3></a>#}
{#                        <p>Creator ID: {{ discussion.create_date }}#}
{#                            Date Created: {{ discussion.create_date }}</p>#}
{#                        <p></p>#}
{#                    {% endfor %}#}
{#                    <a class="btn btn-default" href="{% url 'discussions:new_discussion' %}">New Discussion</a><br/>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}


    </div>
</div>

<!--
<div class="footer">
   <div class="row">
       <div class="col-md-4">
           <h3>About</h3>
           <p>Info/links regarding Neighbors information.</p>
       </div>
       <div class="col-md-4">
           <h3>Contact</h3>
           <p>Info/links for contacting Neighbors peeps</p>
       </div>
       <div class="col-md-4">
           <h3>Help</h3>
           <p>Help and FAQ shit.</p>
       </div>
   </div>
</div> end footer -->
<script>
    google.charts.load('current', {'packages': ['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {

        var data1 = google.visualization.arrayToDataTable([
            ['Type', 'Cost per Month'],
            ['Landscaping', 1200.00],
            ['Improvements', 4000.00],
            ['Labor', 2000.00],
            ['Repair', 600.00],
            ['Maintenance', 1700.00]
        ]);

        var options1 = {
            title: 'Neighborhood Expenses'
        };

        var data2 = google.visualization.arrayToDataTable([
            ['Year', 'Sales', 'Expenses'],
            ['2004', 1000, 400],
            ['2005', 1170, 460],
            ['2006', 660, 1120],
            ['2007', 1030, 540]
        ]);

        var options2 = {
            title: 'Company Performance',
            curveType: 'function',
            legend: {position: 'bottom'}
        };

        var chart1 = new google.visualization.PieChart(document.getElementById('piechart'));
        var chart2 = new google.visualization.LineChart(document.getElementById('linechart'));

        function selectHandler() {
          var selectedItem = chart1.getSelection()[0];
          if (selectedItem) {
            var category = data.getValue(selectedItem.row, 0);
            alert('The user selected ' + category);
          }
        }

        function readyHandler() {

        }

        google.visualization.events.addListener(chart1, 'select', selectHandler);
        google.visualization.events.addListener(chart1, 'ready', readyHandler);

        chart1.draw(data1, options1);
        chart2.draw(data2, options2);
    }



    $(document).ready(function() {
        $('#linechart').hide();
        $('#piechart').show();

        function toggle_visibility(id1, id2) {
            var e = document.getElementById(id1);
            var e2 = document.getElementById(id2);
            if (e.style.display == 'block') {
                e.style.display = 'block';
                e2.style.display = 'none';
            }
            else {
                e.style.display = 'none';
                e2.style.display = 'block';
            }
        }
        $('#history-chart').on('click', function() {
            toggle_visibility('piechart', 'linechart');
        });

        $('#expense-chart').on('click', function() {
            toggle_visibility('piechart', 'linechart');
        });
    })
</script>
</body>
</html>