<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Neighbors</title>
</head>
<body>
    <h1>{{ discussion.title }}</h1>
    <p>{{ discussion.description }}</p>
    {% for comment in comments %}
        <p>{{ comment.creator }} Said:<br />
        {{ comment.text }}<br />
        on: {{ comment.create_date }}</p>
    {% endfor %}

    <p>
    <form id="comment_form" action="{% url 'discussions:detail' discussion.id %}" method="post">
        {% csrf_token %}
        {{ comment_form.as_p }}
        <input type="submit" name="submit" value="Post Comment">
    </form>
    </p>

    <a href="{% url 'discussions:index' %}">Return to Discussion Board</a><br />

</body>
</html>