<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Neighbors</title>
</head>
<body>
    <form id="discussion_form" action="{% url 'discussions:new_discussion' %}" method="post">
        {% csrf_token %}
        <label for="topic">Discussion Title/Topic</label>
        <input id="topic"
               name="topic"
               type="text"
               maxlength="200"
               value="Discussion Title">
        <label for="description">Topic Description</label>
        <input id="description"
               name="description"
               type="text"
               value="Topic Description"
               maxlength="1000">
    </form>
</body>
</html>