<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Neighbors</title>
</head>
<body>
    <h1>Make a Comment</h1>
    {% if done %}
    <strong>Comment posted successfully!</strong>
    <a href="{% url 'discussions:detail' discussion_id %}">Return to discussion.</a><br />
    {% else %}
    <form id="comment_form" action="{% url 'discussions:new_comment' %}" method="post">
        {% csrf_token %}
        {{ comment_form.as_p }}
        <input type="submit" name="submit" value="Post Comment">
    </form>
    {% endif %}
</body>
</html>