/********************* Colour reference chart****************
************************* comment ********* colour ********

COLOR SCHEME 1 ------ CURRENT
white                       w               #F9FBFF
green                       g               #54E5B0
dark grayish green          dgg             #8DBCC4
light blue                  lb              #35C2FF
deep blue                   b               #2C90F9

COLOR SCHEME 2
white                       w               #E6FFFF
blue green                  bg              #98E8CC
light green                 lg              #98FFCO
blue                        lb              #2697FF
deep blue                   b               #2575DE

COLOR SCHEME 3
white                       w               #F4F4F4
green                       g               #1BC142
orange                      o               #DD9454
light blue                  lb              #41B4F2
deep blue                   b               #2671F2

COLOR SCHEME 4
white                       w               #F4F4F4
green                       g               #1BC142
blue green                  bg              #35E0Ad
light blue                  lb              #41B4F2
deep blue                   b               #2671F2

EXTRA COLORS

brown           #633E32
beige           #FFE2AA
avacado green   #87AD93
greenish gray   #ABC8CO
navy blue       #1D5099
very lightgreen #DAF7DC

*/

@import url(https://fonts.googleapis.com/css?family=Roboto:300);



.white {background: #FFFFFF}
.white-text {color:#FFFFFF}

.off-white{background: #F2F2F2}
.off-white-text{color: #F2F2F2}

.green {background: #54E5B0}
.green-text {color:#54E5B0}
.gray {background: #8DBCC4}
.gray-text {color: #8DBCC4}
.light-blue {background: #35C2FF}
.light-blue-text {color: #35C2FF}
.blue {background: #2C90F9}
.blue-text {color: #2C90F9}
.orange {background: #DD9454}
.orange-text {color: #DD9454}


body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #2C90F9;
}

.nav {
    height:100px;
    border-bottom: 10px solid #54E5B0;
}

.nav h1 {
    float: left;
    padding-top: 15px;
    padding-left: 50px;
	font-weight: 500;
    font-size: 50px;
    font-family: "Roboto", sans-serif;
}

.options a {
    color: #FFFFFF;
    font-size: 24px;
    font-weight: bold;
    width:130px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #35C2FF;
    text-transform: uppercase;
    text-align: center;
    font-family: "Roboto", sans-serif;
}

.icons a {
	outline: none;
	border: none;
    color: #FFFFFF;
    width:auto;
    background: #35C2FF;
    float: right;
    margin-top: 15px;
    margin-right: 15px;
}

.options {
    padding-top: 15px;
    padding-left: 30%;
    float: left;

}

.content .holder {
    position: absolute;
    top:30px;
    bottom:100px;
    width:100%;
    padding: 0 2.5% 0 2.5%;
    background-color: #f0f0f0;
}

.content {
    position: absolute;
    top:100px;
    bottom:0;
    width:100%;
    background-color: #f0f0f0;
}

.content h1 {
    color: #DD9454;
    font-family: "Roboto", sans-serif;
}



#map {
    position: absolute;
    top:0;
    bottom:0;
    left:25%;
    width:75%;
}

.legend h2 {
    font-size: 30px;
    font-family: "Roboto", sans-serif;
}

.legend span {
    display: block;
    float: none;
    margin: 10px 20px 10px 20px;
    height: 100px;
    width: 300px;
}

.footer {
    position: absolute;
    bottom:0;
    height: 100px;
    width: 100%;
    clear: both;
    border-top: 10px solid /* g */ #F6F6F6;
}

.footer .row {
    padding-left: 20%;
}


.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 12px 14px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

#feed-title {
}

#show {
    float:right;
}

#calendar-frame {
    padding: 20px 20px 20px 20px;
    width: 900px;
    height: 600px;
}

#piechart {
    padding: 20px 20px 20px 20px;
    width: 700px;
    height: 500px;
}

#linechart {
    padding: 20px 20px 20px 20px;
    width: 700px;
    height: 500px;
}

#calendar {
    float:left;
    -webkit-box-shadow: 3px 4px 19px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 4px 19px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 3px 4px 19px 1px rgba(0, 0, 0, 0.75);
    background:#FFFFFF;
}

#budget {
    padding: 20px 20px 20px 20px;
    -webkit-box-shadow: 3px 4px 19px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 4px 19px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 3px 4px 19px 1px rgba(0, 0, 0, 0.75);
    background:#FFFFFF;
    float:right;
}

#polls {
    float:left;
    padding: 20px 20px 20px 20px;
    -webkit-box-shadow: 3px 4px 19px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 4px 19px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 3px 4px 19px 1px rgba(0, 0, 0, 0.75);
    background:#FFFFFF;

}

#discussions {
    padding: 20px 20px 20px 20px;
    -webkit-box-shadow: 3px 4px 19px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 4px 19px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 3px 4px 19px 1px rgba(0, 0, 0, 0.75);
    background:#FFFFFF;
    float:right;
}

#report-container {
    position:relative;
    top:0;
    height: 200px;
    width: 100%;
    background: #F0F0F0;

}

#report-container button {
    float:right;
    margin-top: 150px;
    margin-right: 20px;
}

#close-report {
}

#submit-report {
    background: #54E5B0;
}

.feed {
    width:25%;
    top:100px;
    bottom:0;
    float:left;
    background-color: #FFFFFF;
}

.feed h1 {
    padding-top: 24px;
    padding-left: 24px;
    font-family: "Roboto", sans-serif;
}

.feed span {
    display:block;
    float:none;
    height:12px;
    width:90%;
    margin-left:5%;
}

.feed-item {
    height: auto;
    overflow: auto;
    margin-left:5%;
    margin-top:20px;
    width:90%;
    padding: 20px 20px 20px 20px;
    -webkit-box-shadow: 3px 4px 19px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 4px 19px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 3px 4px 19px 1px rgba(0, 0, 0, 0.75);
    background:#FFFFFF;
}

.feed-item button {
    padding: 1em 2em;
	outline: none;
	font-weight: 600;
	border: none;
	color: #fff;
    width: 50%;
}

.feed-item h2 {
	outline: none;
	font-weight: 600;
	border: none;
	color: #DD9454;
}


#vote-yes {
    float:left;
    background: #54E5B0;
}

#vote-no {
    float: right;
	background: #c94e50;
}

#contact {

    width:100%;
}

#report {
	background: #c94e50;
}