/********************* Colour reference chart****************
************************* comment ********* colour ********

COLOR SCHEME 1 ------ CURRENT
white                       w               #F9FBFF
green                       g               #54E5B0
dark grayish green          dgg             #8DBCC4
light blue                  lb              #35C2FF
deep blue                   b               #2C90F9

COLOR SCHEME 2
white                       w               #E6FFFF
blue green                  bg              #98E8CC
light green                 lg              #98FFCO
blue                        lb              #2697FF
deep blue                   b               #2575DE

COLOR SCHEME 3
white                       w               #F4F4F4
green                       g               #1BC142
orange                      o               #DD9454
light blue                  lb              #41B4F2
deep blue                   b               #2671F2

COLOR SCHEME 4
white                       w               #F4F4F4
green                       g               #1BC142
blue green                  bg              #35E0Ad
light blue                  lb              #41B4F2
deep blue                   b               #2671F2

EXTRA COLORS

brown           #633E32
beige           #FFE2AA
avacado green   #87AD93
greenish gray   #ABC8CO
navy blue       #1D5099
very lightgreen #DAF7DC

*/

@import url(https://fonts.googleapis.com/css?family=Roboto:300);



.white {background: #F9FBFF}
.white-text {color:#F9FBFF}
.green {background: #54E5B0}
.green-text {color:#54E5B0}
.gray {background: #8DBCC4}
.gray-text {color: #8DBCC4}
.light-blue {background: #35C2FF}
.light-blue-text {color: #35C2FF}
.blue {background: #2C90F9}
.blue-text {color: #2C90F9}
.orange {background: #DD9454}
.orange-text {color: #DD9454}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #2C90F9;
}

.nav {
    height:100px;
    border-bottom: 10px solid #54E5B0;
}

.nav h1 {
    float: left;
    padding-top: 15px;
    padding-left: 50px;
    font-size: 50px;
    font-family: "Roboto", sans-serif;
}

.options a {
    color: #F9FBFF;
    font-size: 24px;
    font-weight: bold;
    width:130px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #35C2FF;
    text-transform: uppercase;
    text-align: center;
    font-family: "Roboto", sans-serif;
}

.icons a {
    color: #F9FBFF;
    width:auto;
    background: #35C2FF;
    float: right;
    margin-top: 15px;
    margin-right: 15px;
}

.options {
    padding-top: 15px;
    padding-left: 30%;
    float: left;

}

.content .holder {
    position: absolute;
    top:100px;
    bottom:100px;
    width:100%;
    padding: 30px 10% 0 10%;
    background-color: #F9FBFF;
}

.content {
    position: absolute;
    top:100px;
    bottom:0;
    width:100%;
    background-color: #F9FBFF;
}

.content h1 {
    color: #DD9454;
    font-family: "Roboto", sans-serif;
}

.feed {
    position: fixed;
    width:25%;
    float:left;
    background-color: #F9FBFF;
}

.feed h1 {
    padding-top: 24px;
    padding-left: 24px;
    font-family: "Roboto", sans-serif;
}

.feed span {
    display:block;
    float:none;
    height:12px;
    width:90%;
    margin-left:5%;
}

#map {
    position: absolute;
    top:0;
    bottom:0;
    left:25%;
    width:75%;
    float: right;
}

.legend h2 {
    font-size: 30px;
    font-family: "Roboto", sans-serif;
}

.legend span {
    display: block;
    float: none;
    margin: 10px 20px 10px 20px;
    height: 100px;
    width: 300px;
}

.footer {
    position: absolute;
    bottom:0;
    height: 100px;
    width: 100%;
    clear: both;
    border-top: 10px solid /* g */ #54E5B0;
}

.footer .row {
    padding-left: 20%;
}


.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 12px 14px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}






