/********************* Colour reference chart****************
************************* comment ********* colour ********

COLOR SCHEME 1 ------ CURRENT
white                       w               #F9FBFF
green                       g               #54E5B0
dark grayish green          dgg             #8DBCC4
light blue                  lb              #35C2FF
deep blue                   b               #2C90F9

COLOR SCHEME 2
white                       w               #E6FFFF
blue green                  bg              #98E8CC
light green                 lg              #98FFCO
blue                        lb              #2697FF
deep blue                   b               #2575DE

COLOR SCHEME 3
white                       w               #F4F4F4
green                       g               #1BC142
orange                      o               #DD9454
light blue                  lb              #41B4F2
deep blue                   b               #2671F2

COLOR SCHEME 4
white                       w               #F4F4F4
green                       g               #1BC142
blue green                  bg              #35E0Ad
light blue                  lb              #41B4F2
deep blue                   b               #2671F2

EXTRA COLORS

brown           #633E32
beige           #FFE2AA
avacado green   #87AD93
greenish gray   #ABC8CO
navy blue       #1D5099
very lightgreen #DAF7DC

*/

#map {
    position: absolute;
    top:0;
    bottom:0;
    left:25%;
    width:75%;
}

.legend h2 {
    font-size: 30px;
    font-family: "Roboto", sans-serif;
}

.legend span {
    display: block;
    float: none;
    margin: 10px 20px 10px 20px;
    height: 100px;
    width: 300px;
}

.footer {
    position: absolute;
    bottom:0;
    height: 100px;
    width: 100%;
    clear: both;
    border-top: 10px solid /* g */ #F6F6F6;
}

.footer .row {
    padding-left: 20%;
}


#feed-title {
}

#show {
    float:right;
}



#discussions {
    padding: 20px 20px 20px 20px;
    -webkit-box-shadow: 0 1px 2px 2px rgba(0,0,0,0.42);
    -moz-box-shadow: 0 1px 2px 2px rgba(0,0,0,0.42);
    box-shadow: 0 1px 2px 2px rgba(0,0,0,0.42);
    background:#FFFFFF;
    float:right;
}

#report-container {
    position:relative;
    top:0;
    height: 200px;
    width: 100%;
    background: #F0F0F0;

}

#report-container button {
}

#close-report {
}



#submit-report {
    background: #54E5B0;
}




/*********************************************************************
-----------------  HOME PAGE NEWS FEED  ------------------------------
**********************************************************************/
.feed {
    position: relative;
    width:25%;
    height:100%;
    float:left;
    overflow-y:auto;
    background-color: #FFFFFF;
}

.feed h1 {
    padding-top: 24px;
    padding-left: 24px;
    font-family: "Roboto", sans-serif;
}

.feed span {
    display:block;
    float:none;
    height:12px;
    width:90%;
    margin-left:5%;
}

.feed-item {
    height: auto;
    overflow: auto;
    margin-left:5%;
    margin-top:10px;
    margin-bottom:10px;
    width:90%;
    padding: 20px 20px 20px 20px;
    -webkit-box-shadow: 0 1px 2px 2px rgba(0,0,0,0.42);
    -moz-box-shadow: 0 1px 2px 2px rgba(0,0,0,0.42);
    box-shadow: 0 1px 2px 2px rgba(0,0,0,0.42);
    background:#FFFFFF;
}

.feed-item button {
    padding: 1em 2em;
	outline: none;
	font-weight: 600;
	border: none;
	color: #fff;
    width: 50%;
}

.feed-item h2 {
	outline: none;
	font-weight: 600;
	border: none;
	color: #DD9454;
}

#feed-post img {
    float:right;
}

.news {
    max-height:100%;
    float:left;
    background-color: #f0f0f0;
    overflow: auto;
}

#time-stamp {
    float:right;
    opacity: 0.7;
}

.vote-yes {
    float:left;
    background: #54E5B0;
}

.vote-no {
    float: right;
	background: #c94e50;
}

#contact {

    width:100%;
}

#report {
	background: #c94e50;
}

.report {
    width:10%;
    margin-left:45%;
}

#cancel {
    border: none;
    margin-top: 10px;
    margin-right: 10px;
    float: right;
}






